.hero-section {
    display: flex;
    width: 100vw;
}
.hero-left, 
.hero-right {
    width: 30vw;
}
.search-container {
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.search-container h2 {
    font-size: 36px;
}
.search-container p {
    margin: 10px 0;
}

  @media only screen and (min-height: 600px) and (max-width: 1024px) {
    .hero-section {
        height: 60vh;
    }
    .hero-left, .hero-right {
        width: 25vw;
    }
    .search-container {
        width: 50vw;
    }
  }
  @media only screen and (max-width: 640px) {
    .hero-section {
        justify-content: center;
        align-items: center;
    }
    .hero-left, .hero-right {
        display: none;
    }
    .search-container {
        width: 90%;
    }
    .search-container p {
        text-align: center;
    }
  }