.image-details {
    display: flex;
    gap: 32px;
    height: 100vh;
    margin: 72px;
}
.image-container {
    width: 50%;
}
.image-container img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}
.user {
    display: flex;
    align-items: center;
    gap: 10px;
}
a {
    text-decoration: none;
    color: #121826;
}
.user img {
    border-radius: 50%;
    object-fit: cover;
}
.user p {
    text-transform: capitalize;
    font-weight: 600;
}
.date {
    margin: 10px 0px;
    color: #6C727F;
}
.coll {
    margin: 20px 0px 10px 0px;
}
.image-description {
    width: 50%;
}
.image-description button {
    padding: 10px 0px;
    width: 180px;
    border-radius: 5px;
    border: 1px solid #E5E7EB;
    color: black;
    text-transform: capitalize;
    background-color: #E5E7EB;
    margin-right: 10px;
    font-weight: 600;
}
  .disabled-button {
    cursor: not-allowed;
    opacity: 0.5;
  }
.download-button {
    cursor: pointer;
}
.download-button:hover {
    background-color: #6C727F;
    opacity: 0.9;
  }
.collection-img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
}
.image-description ul {
    list-style-type: none;
}
.collection-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
    margin-left: -35px;
    padding: 5px;
    cursor: pointer;
    width: 100%;
}
.collection-container:hover {
    background-color: #E5E7EB;
}
.collection-container div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.collection-title {
    text-transform: capitalize;
}
.collection-photo-amount {
    font-size: 12px;
}
@media only screen and (min-height: 800px) and (max-width: 1024px) {
    .image-details {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .image-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .image-container img {
        width: 70%;
        height: 100%;
        object-fit: cover;
    }
    .image-description {
        width: 70%;
    }
}
@media only screen and (max-width: 640px) {
    .image-details {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 150vh;
        margin: 45px;
    }
    .image-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .image-container img {
        object-fit: cover;
        width: 100%;
    }
    .image-description {
        width: 100%;
    }
}
@media screen and (max-width: 450px) {
    .image-details {
        margin: 10px;
        height: 120vh;
    }
    .image-description button {
        width: 150px;
    }
}
@media screen and (max-width: 360px) {
    .disabled-button {
        margin: 10px 0px;
    }
}